frequenttabel.csv
joined_file.csv
retailer_tabel.csv
regressie_tabel.csv
random_forest_tree.png.png
ClusteringResults.png
clusteringtabelsegment.csv
clusteringtabelv2.csv
ConfusionMatrix.png
Decision_tree_Results.png
decision_treeMax3v2.png
decision_treeMax3v2.png.png
FrequentItemSets.png
hoofdtabelv2.csv
output.csv
Product.csv
random_forest_tree.png
Regressie.png
